// サイト共通で必要になる設定値
// 変数定義用


/**********

変数管理

**********/

//color
$cWhite: #ffffff;
$cBlack: #333;
$cBgColor: #fffff6;



//font-family
//-->ヒラギノver.
$fontMain: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
  Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

//-->游ゴシックver.
// $font-main:"游ゴシック Medium","Yu Gothic Medium","游ゴシック体",YuGothic,sans-serif;


// アニメーション
$anime_nomal: all 0.2s ease-in-out;


// SNSのメインカラー用
$color_facebook: #3b5998;
$color_twitter: #55acee;
$color_line: #00b900;
$color_pocket: #ef4156;



/*************

レスポンシブ

**************/


//ブレイクポイント
$widthPc: 1024px;
$widthTab: 764px;
$widthSP: 480px;


