// ベーススタイル用



body {

    @include rem(10);


    margin: 0 auto;
    letter-spacing: .5em;
    font-family: $fontMain;
    color: $cBlack;

}


* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

// スマホでタッチしたとき、青い表示がでないようにする
a {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    cursor:pointer;
}


// bodyにoverallクラスつけたら使用
.overall {
    font-family: "Yu Gothic", YuGothic, "Hiragino Kaku Gothic Pro", "YuGothic",
        "Meiryo", verdana, "Osaka", "MS PGothic", Sans-Serif, "Yu Mincho",
        YuMincho, "MS P Mincho", serif;

    background-color: $cBgColor;
}

.container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

/*************

モック画像
終わったら削除

**************/


.mock {
    /* モック画像 */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 375px;
    opacity: 0.3;

    /* 反転 */
    filter: hue-rotate(180deg);

    /* テキストを掴まないように */
    pointer-events: none;

    z-index: 999;
}




// コンテンツ幅
.inner {
    margin: 0 15px;
}



//共通タイトル
.section_ttl {
    @include rem(36);
    display: block;
    text-align: center;
}


//セクションの共通inner
.section_inner {
    margin: 0 auto;
    padding: 0 20px;

}