// サイトコンテンツスタイル用


/****************************************:

header

*****************************************:*/
.header {
    width: 100%;
    line-height: 90px;
    padding: 0 20px;
    background-color: red;
    position: absolute;
    top: 0;
    // overflow: hidden;
}





/****************************************:

fv

*****************************************:*/

.top_mv {
    position: relative;

    &_imgbox{
        position: absolute;

    }
}





/****************************************:

section

*****************************************:*/








/****************************************:

footer

*****************************************:*/



