// サイトコンテンツスタイル用


/****************************************:

header

*****************************************:*/
.header {
    width: 100%;
    line-height: 90px;
    padding: 0 20px;
    background-color: $cBlack;
    position: absolute;
    top: 0;
    // overflow: hidden;

    &_ttl {
        @include rem(16);
        color: $cWhite;
    }
}





/****************************************:

fv

*****************************************:*/

.top_mv {
    position: relative;

    &_imgbox{
        position: absolute;
        top: 0;
        left: 0;


    }
}





/****************************************:

section

*****************************************:*/








/****************************************:

footer

*****************************************:*/



