// サイトコンテンツスタイル用


/****************************************:

header

*****************************************:*/
.header {
    padding: 0 20px;
    background-color: red;
    position: absolute;
    top: 0;
}





/****************************************:

fv

*****************************************:*/







/****************************************:

section

*****************************************:*/








/****************************************:

footer

*****************************************:*/



