// サイト共通で使用するパーツ


/****************************************:

nav

*****************************************:*/

.nav {
    position: relative;


    &_list {
        position: absolute;
        right: -1000px;
        display: flex;
        flex-direction: column;

        &.clicked {
            right: -5vw;
            transition: .6s;
        }


    }



    // ハンバーガーメニュー
    &_ham {
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 25px;
        height: 25px;
        z-index: 100;


        &.clicked {
            right: 40px;
        }
    }

    &_hamspan {
        font-size: 1.1rem;
        position: absolute;
        top: -20px;
        left: -25px;
    }

    &_line {
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $cWhite;

        &:nth-child(1) {
            top: 0px;


        }

        &:nth-child(2) {
            top: 8px;
        }

        &:nth-child(3) {
            top: 16px;
        }

        &.clicked:nth-child(1) {
            transform: translateY(12px) rotate(-315deg);
            transition: .5s;

        }
        &.clicked:nth-child(2) {
            left: 0;
            transition: .9s;
            opacity: 0;

        }


        &.clicked:nth-child(3) {
            transform: translateY(-4px) rotate(315deg);
            transition: .5s;

        }




    }

    &_item {
        text-align: center;
        margin-top: 50px;
        font-size: 2.5rem;
        line-height: 3;
        padding-right: 30px;
    }

    &_link {
        position: relative;
        display: block;
        letter-spacing: .2em;
        transition: .3s;



         //ナビホバー時の下線
        &::after {
            position: absolute;
            bottom: -5px;
            left: 0;
            content: '';
            width: 100%;
            height: 2px;
            transform: scale(0, 1);
            transform-origin: center;
            transition: transform .7s;
            background: $cWhite;
        }

        &:hover::after {
            transform: scale(1, 1);
        }

        &:hover {
            color: $cWhite;
            letter-spacing: .5em;
            transition: .5s;
        }
    }

}
